.titanic{border: 2px solid #000;border-radius: 5px;box-shadow: -4px 6px 0 #000;}
.titanic:active{box-shadow: inset -4px 4px 0 #222 ;}
.koe{border: 2px solid #000;border-radius: 5px;box-shadow: -4px 6px 0 #000;}
.koe:active{box-shadow: inset -4px 4px 0 #222 ;}
.hasvc{border: 2px solid #000;border-radius: 5px;box-shadow: -4px 6px 0 #000;}
.hasvc:active{box-shadow: inset -4px 4px 0 #222 ;}
.ha22{border: 2px solid #000;border-radius: 5px;box-shadow: -4px 6px 0 #000;}
.ha22:active{box-shadow: inset -4px 4px 0 #222 ;}
.ha2{border: 2px solid #000;border-radius: 5px;box-shadow: -4px 6px 0 #000;}
.ha2:active{box-shadow: inset -4px 4px 0 #222 ;}
.i{border: 2px solid #000;border-radius: 5px;box-shadow: -4px 6px 0 #000;}
.i:active{box-shadow: inset -4px 4px 0 #222 ;}